@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@200&display=swap');

#borderBox {
	margin: 5vh;
	height: 90vh;
	z-index: 20;
}

body {
	font-family: 'Noto Sans Thai', sans-serif !important;
}

#inside {
	z-index: 1;
}

#bg {
	position: absolute;
	top: 25vh;
	left: 0vh;
	z-index: 0;
	overflow: hidden;
}
