@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Lato:wght@300&display=swap');

* {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Lato', sans-serif;
}

nav img {
    width: auto;
    height: 2rem;
}